@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .team-list-item-img {
    width: auto;
    height: auto;
  }
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 428px;
    margin-right: auto;
    margin-left: auto;
  }

  .portfolio-list-item-img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (max-width: 400px) {
  .modal {
    max-width: 100%;
  }
}

@media screen and (max-width: 426px) {
  .customers-list {
    row-gap: 36px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }

  /*_____________HEADER_____________ */
  .mobile-menu-open {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .page-header {
    padding-top: 0;
    padding-bottom: 0;
  }

  .page-nav {
    display: flex;
    align-items: center;
  }

  .logo-pos-header {
    margin-right: 120px;
  }

  .menu {
    display: flex;
    position: relative;
    align-items: center;
    gap: 40px;
  }

  .menu-link.current {
    position: relative;
    color: var(--accent-color);
  }

  .menu-link.current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
    pointer-events: none;
  }

  .menu-link {
    display: inline-block;
    padding-top: 26px;
    padding-bottom: 26px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color var(--anim-dur-func);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: var(--accent-color);
  }

  .contacts {
    display: block;
  }

  .contacts-list-item:not(:last-child) {
    margin-bottom: 12px;
  }

  .contacts-list-item-link {
    color: var(--secondary-color);
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color var(--anim-dur-func);
  }

  .contacts-list-item-link:hover,
  .contacts-list-item-link:focus {
    color: var(--accent-color);
  }

  /*_____________/HEADER_____________ */

  /*_____________MAIN_____________ */

  .hero-title {
    max-width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  /*  FEATURES */

  .features-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .features-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .features-list-item-title {
    text-align: start;
  }

  /* TEAM */
  .team > .container {
    padding-left: 107px;
    padding-right: 107px;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .team-list-icon {
    flex-wrap: nowrap;
  }

  /* CUSTOMERS */

  .customers-list {
    column-gap: 24px;
    row-gap: 72px;
  }

  .customers-link {
    flex-basis: calc((100% - 3 * 24px) / 4);
    width: 168px;
  }

  /*_____________/MAIN_____________ */

  /*_____________FOOTER_____________ */

  .page-footer > .container {
    padding-left: 108px;
    padding-right: 108px;
  }

  .footer-container {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    align-items: flex-start;
  }

  .footer-info {
    align-items: flex-start;
  }

  .footer-soc {
    align-items: flex-start;
  }

  .footer-form-container {
    align-items: flex-start;
    width: auto;
    max-width: none;
  }

  .footer-form {
    flex-direction: row;
  }

  .footer-form-input {
    width: 264px;
  }
  /*_____________/FOOTER_____________ */

  /*_____________PORTFOLIO_____________ */

  .portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-menu {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    margin-bottom: 64px;
    max-width: none;
  }

  .portfolio-menu-btn {
    padding: 12px 24px;
  }

  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .portfolio-list-item:not(:last-child) {
    margin-bottom: 0;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 1 * 24px) / 2);
  }

  .portfolio-item-thumb {
    height: 300px;
  }

  /*_____________/PORTFOLIO_____________ */
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  /*_____________HEADER_____________ */
  .logo-pos-header {
    margin-right: 76px;
  }

  .contacts-list {
    display: flex;
    align-items: center;
  }

  .contacts {
    margin-left: auto;
  }

  .contacts-list-item:not(:last-child) {
    margin-right: 40px;
    margin-bottom: 0;
  }

  .contacts-list-item-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*_____________/HEADER_____________ */

  /*_____________MAIN_____________ */

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
  }

  /* FEATURES */

  .features {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .features-icon {
    display: block;
    width: 64px;
    height: 64px;
  }

  .features-icon-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 8px;
    padding: 24px 100px;
    border-radius: 4px;
    background-color: #f4f4fd;
  }

  .features-list {
    gap: 24px;
  }

  .features-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  .features-list-item-title {
    margin-bottom: 8px;
    color: var(--main-color);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
  }

  .features-list-item-text {
    color: var(--secondary-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    font-weight: 400;
  }

  /* WORK */

  .work {
    display: block;
    padding-bottom: 120px;
  }

  .work-title {
    margin-bottom: 72px;
  }

  .work-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  .work-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }

  /* TEAM */

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team > .container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .team-list {
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .team-list-item {
    flex-basis: calc((100% - 3 * 24px) / 4);
  }

  /* CUSTOMERS */

  .customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .customers-list {
    gap: 24px;
  }

  .customers-link {
    flex-basis: calc((100% - 5 * 24px) / 6);
  }

  /*_____________/MAIN_____________ */

  /*_____________FOOTER_____________ */

  .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .page-footer > .container {
    padding-left: 0;
    padding-right: 0;
  }

  .footer-container {
    margin-right: auto;
    margin-left: auto;
    flex-wrap: nowrap;
    gap: 0;
    align-items: center;
  }

  .footer-info {
    margin-right: 120px;
  }

  .footer-soc {
    margin-right: 80px;
  }
  /*_____________/FOOTER_____________ */

  /*_____________PORTFOLIO_____________ */

  .portfolio > .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .portfolio {
    padding-top: 100px;
    padding-bottom: 120px;
  }
  .portfolio-menu {
    margin-bottom: 72px;
  }

  .portfolio-list {
    row-gap: 48px;
  }

  .portfolio-list-item {
    flex-basis: calc((100% - 2 * 24px) / 3);
  }
  /*_____________/PORTFOLIO_____________ */
}
